export(getGDsig)
export(runAssignment)
export(getRecurrence)
export(setupWindows)
export(plotRecurrence)
export(setupArms)
export(plotCNprofile)
export(plotSigDefinitions)
export(getMatrix)
export(generateProfile)
export(randomRecurrence)

import(parallel)
import(GenomicRanges)
import(pbmcapply)
import(biomaRt)
import(stringr)
